@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default;
 }


@plugin "daisyui/theme"{
    name: "light";
    default: true;

  --color-primary: #1E3A8A;
  --color-secondary: #2563EB;
  --color-accent: #2950bc;
  

}





:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    



  }
}

body {
  
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;



}
